*.egg-info/
.eggs/

env/
*.env

data/raw/
data/processed/
artifacts/logs/
artifacts/models/*.pt
artifacts/models/*.pkl
wandb/
mlruns/

.vscode/
.idea/
.DS_Store

venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.git/
.github/
runs/
logs/
*.joblib
*.pth